[Desktop Entry]
Name=Term
Comment=Terminal Emulator
Keywords=shell;prompt;command;commandline;cmd;
Icon=org.wezfurlong.wezterm
StartupWMClass=org.wezfurlong.wezterm
Exec=/home/nelson/.dotfiles/wezterm/launch.sh
Type=Application
Categories=Utility;
Terminal=false

