[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=i3exit logout
Name=Shutdown
Icon=/usr/share/icons/Papirus/128x128/apps/system-log-out.svg

